body{
    background:url("../Image/S1.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size:cover;
    background-repeat:no repeat;
    background-position:center;
}


.Logo{
    width:150px;
    height:auto;
    position: fixed;
    top:10px;
    left:10px;
}
button {
      padding: 10px;
      font-size: 15px;
      border: none;
      border-radius: 6px;
      background: #4facfe;
      color: black;
      cursor: pointer;
    }
    button:hover {
      background: #00c6ff;
    }
.others {
    position: absolute;
    top: 10px;       
    right: 20px;    
    display: flex;
    align-items: center;
}
.others ul{
 padding: 0 12px;
 position: relative;
}
.others ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 70%;
    background: #545454;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.others ul:last-child::after{
    display: none;
}
.others ul:first-child{
    position: relative;
}
.others ul:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.others ul:first-child i{
    position: absolute;
    right: 17px ;
    top:1.5px;
    
}
input{
   border: none;
   border-radius: 10px; 
   font-size:20px;
   width:250px;
   height:25px;
   margin-bottom: 10px;
}
.login{
   border: none;
   border-radius: 10px; 
   font-size:20px;
   width:250px;
   height:40px;
   margin-bottom: 15px;
}
.box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  margin: 100px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.QTV{
    text-decoration:none;
    color:violet;
}
.QTV:hover{
    text-decoration:underline;
}
#searchBox::placeholder {
  color: #333;          
  opacity: 1;           
  font-weight: 500;   
}
